$yellow: #fffa19;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
 
@mixin padding($top, $right, $bottom ,$left) {
    
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;

}

.jumbotron{
    background-color: $yellow;
    color:black;
    background-image: url(../imagenes/hoteles.jpg);
    @include margenes(60px, 0px);
}

.footer{
   @include padding(10px, 10px, 0, 10px);
   background-color: $yellow;
   @include margenes(10px, 0px);
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.tab-content{
    @include padding(10px, 0px, 0px, 0px);
}