@yellow: #fffa19;

.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}

.padding(@top, @right, @bottom ,@left) {
  
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;

}

.jumbotron{
    background-color: yellow;
    color:black;
    background-image: url(../imagenes/hoteles.jpg);
    .margenes(60px, 0px);
}

.footer{
   .padding(10px, 10px, 0, 10px);
   background-color: yellow;
   .margenes(10px, 0px);
}

.card-hotel{
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.tab-content{
    .padding(10px, 0px, 0px, 0px);
}
  