.jumbotron {
  background-color: #fffa19;
  color: black;
  background-image: url(../imagenes/hoteles.jpg);
  margin-top: 60px;
  margin-bottom: 0px; }

.footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
